<plugin name='grails-solr' version='0.1' grailsVersion='2.4 &gt; *'>
  <author>Eric Siebeneich</author>
  <authorEmail>eric.siebeneich@gmail.com</authorEmail>
  <title>Grails Solr Plugin</title>
  <description>Provides search capabilities for Grails domain model and more using the excellent Solr
open source search server through the SolrJ library.
</description>
  <documentation>http://grails.org/plugin/grails-com.zeebo.grails.solr</documentation>
  <type>GrailsSolrGrailsPlugin</type>
  <resources>
    <resource>com.zeebo.grails.solr.SolrService</resource>
  </resources>
</plugin>